* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header,.header-left {
  height: 65px;
  width: 100%;
  background-color: #000055;
 font-size: 20px;
  color: #fff;
 margin-bottom: 0px;
}

.contents {
  background-image: url(IMGP0321.JPG);
}
