* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header , .header-left {
  height: 65px;
  width: 100%;
  background-color: #000055;
 font-size: 20px;
  color: #fff;
 
}




.title {
  color: #fff;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  background-image: url(IMGP0321.JPG);
  background-size: cover;
  height: 1000px;
}
@media(max-width: 670px) {
  .title {
    font-size: 28px;
  }
}
