* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.header {
  background-color:　#000055;
  height: 70px;
}

.header-logo {
  color: #fff;
  font-size: 30px;
  padding: 20px 10px;
}
