* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

.header {
  background-color: #000055;
  height: 80px;
}

.header-logo {
  color: #fff;
  font-size: 30px;
  padding: 25px 10px;
}
