* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

header {
  height: 65px;
  width: 100%;
  background-color: #000055;
  /* positionプロパティをfixedに、topを0に指定してください */
  position: fixed;
  top: 0;
  /* z-indexを10に指定してください */
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}



.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: ;
  display: block;
}

.title {
  color: #fff;
  padding-top: 50px;
  text-align: center;
  font-size: 50px;
  background-image: url(IMGP0321.JPG);
  background-size: cover;
  height: 1000px;
}
@media(max-width: 670px) {
  .title {
    font-size: 28px;
  }
}
